apiVersion: v1
kind: Service
metadata:
  labels:
    app: pod-info
  name: pod-info
spec:
  ports:
  - port: 80
    name: http
    protocol: TCP
    targetPort: 8080
  selector:
    app: pod-info
  # type: LoadBalancer
